
.card {
    position: absolute;
    width: 25vh;
    margin-left: 15%;
   margin-top: 34%;
    height: 25vh;  
 
    border-radius: 10px;;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  }
  .card:after, .card:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 95%;
    height: 8px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    z-index: -1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .card:before {
    width: 88%;
    top: calc(100% + 8px);
  }
  .card .avatar {
    width: 30vh;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 100%;
    position: relative;
   
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .card .name {
    font-weight: 100;
  }
  .card aside {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    border-top: 1px solid #E2E2E2;
  }
  .card aside a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    cursor: pointer;
    padding: 5px;
  }
  .card aside a:hover {
    color: #5B61A0;
  }
  .card aside a:last-child {
    border-right: none;
  }
  .card aside .cate, .card aside .count {
    display: block;
  }
  .card aside .count {
    margin: 5px 0 5px;
  }
  .card aside .count i {
    color: #5C5EDC;
  }
  .card aside .cate {
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
  }
  .card .background {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    /* background: #3C3F50; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* background-image: url("img/backgroundCard.png");
    background-size: cover; */
  }
  